body {
  text-align: center;
  font-family: 'Lucida Sans Unicode', sans-serif;
  background-image: url(http://41.media.tumblr.com/43b9a54f812fb68d6eb7301c4e5e5e5d/tumblr_nvbx52yt9K1slhhf0o1_1280.jpg);
}

a {
  color: darksalmon;
  font-size: 18px;
}

a:visited {
  color: fuchsia;
}

h1,h2 {
  color: black;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
  color: #333333;
  margin: 2px;
}

p { 
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  color: #6722bc;
  margin: 0 0 8px 0; 
}
