body {
  text-align: center;
  font-family: 'Lucida Sans Unicode', sans-serif;
  background-image: url(http://41.media.tumblr.com/43b9a54f812fb68d6eb7301c4e5e5e5d/tumblr_nvbx52yt9K1slhhf0o1_1280.jpg);
  background-size: cover;
}

a {
  color: darksalmon;
  font-size: 18px;
}

a:visited {
  color: #4FBAFD
}

h1,h2 {
  color: black;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: #333333;
  margin: 2px;
}

p { 
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  color: #3F2E03;
  margin: 0 0 8px 0; 
}

header {
  padding: 100px;
}

#what-i-do {
  background-color: #FFEEF0;
  overflow: hidden;
}

#who-am-i {
  background-color: #FFFF94;
  overflow: hidden;
}

article {
  height: 130px;
  width: 290px;
  float: left;
  background-color: #FFD1A5;
  margin: 5px;
  border-radius: 3px;
} 

.container {
  width: 900px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

nav {
  background-color: white;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.round-button {
  border-radius: 8px;
  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 30px;
}


